<template>
    <div class="hello">

        <!--chat FORMS-->
        <h2>Liste message</h2>
        <ul>
            <li v-for="message in messages" :key="user">{{message.content}}</li>
        </ul>
        <button v-on:click="user_message" >Voir tout les utilisateurs</button>
        <form @submit="chatroom_message">
            <label>Message</label>
            <textarea v-model="message_chatroom"></textarea>
            <input type="submit" value="Submit">
        </form>


    </div>
</template>


<script>
    export default {
        data() {
            return {
                user: false,
                user_log: '',
                user_pass: '',
                user_name: '',
                message: '',
                messages: [],

                form_type: 'log_in',
                form_text: 'Register',

                errors: [],

                message_chatroom: '',

            }
        },
        methods: {
            chatroom_message: function (e) {
                e.preventDefault();
                if (this.message_chatroom !== '') {
                    fetch('http://localhost/untitled/chatroomdemerde/Controller/chatroom_list.php?action=addMessage', {
                        method: "POST", // *GET, POST, PUT, DELETE, etc.
                        mode: "cors", // no-cors, cors, *same-origin
                        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: "same-origin", // include, *same-origin, omit
                        headers: {
                            "Content-Type": "application/json",
                            // "Content-Type": "application/x-www-form-urlencoded",
                        },
                        redirect: "follow", // manual, *follow, error
                        referrer: "no-referrer", // no-referrer, *client
                        body: JSON.stringify(
                            {
                                message: this.message_chatroom,
                            }
                        ),
                    })
                        .then(res => res.clone().json())
                        .then(json => {
                            if (json === 'success') {
                                this.validation_mesage = 'Utilisateur a bien été créé ! Identifiez vous !';
                            }
                        })
                } else {
                    this.validation_mesage = '';
                    this.errors = [];
                    this.errors = ['One of the fields has not been field'];
                }
            },

            user_message: function() {
                fetch('http://localhost/untitled/chatroomdemerde/Controller/chatroom_list.php?idChat=1', {
                    method: "POST", // *GET, POST, PUT, DELETE, etc.
                    mode: "cors", // no-cors, cors, *same-origin
                    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: "same-origin", // include, *same-origin, omit
                    headers: {
                        "Content-Type": "application/json",
                        // "Content-Type": "application/x-www-form-urlencoded",
                    },
                    redirect: "manual", // manual, *follow, error
                    referrer: "no-referrer", // no-referrer, *client
                    body: JSON.stringify(
                        {
                            message: this.message_chatroom,
                        }
                    ),
                })
                    .then(res => res.clone().json())
                    .then(json => {
                        if (json.status == 'success') {
                            console.log(json.messages);
                            this.messages = json.messages;
                        }
                    })
            },

            computed: {},

            mounted: {},
        }
    }
</script>


<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: flex;
    }

    a {
        color: #42b983;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }

    label {
        margin-top: 25px;
    }

    input {
        margin-top: 20px;
    }

    .chatroom li {
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        align-self: center;
    }

    .error {
        color: red;
    }

    button {
        margin-left: 20px;
    }
</style>
