<template>
    <div class="hello">
        <h1>Infos users</h1>
        <div>
            <h2>Liste users</h2>
            <ul>
                <li v-for="user in users" :key="user">{{user.username}}</li>
            </ul>
            <button v-on:click="user_list" >Voir tout les utilisateurs</button>

        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                messages: [],
                users: []
            };
        },
        methods: {
            user_list: function () {
                fetch('http://localhost/untitled/chatroomdemerde/Controller/user_controller.php?action=list', {
                    method: "POST", // *GET, POST, PUT, DELETE, etc.
                    mode: "cors", // no-cors, cors, *same-origin
                    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: "same-origin", // include, *same-origin, omit
                    headers: {
                        "Content-Type": "application/json",
                        // "Content-Type": "application/x-www-form-urlencoded",
                    },
                    redirect: "manual", // manual, *follow, error
                    referrer: "no-referrer", // no-referrer, *client
                    body: JSON.stringify(
                        {
                            message: this.message_chatroom,
                        }
                    ),
                })
                    .then(res => res.clone().json())
                    .then(json => {
                        console.log(json);
                        if (json.status == 'success') {
                            console.log("prout");
                            this.users = json.users;
                        }
                    })
            },

        },
    }
</script>
