<template>
    <div class="hello">
        <h1 v-if="user">Hello, {{ user.user_name }}</h1>


        <button v-if="!user" v-on:click="change_form">{{form_text}}</button>
        <h4 v-if="validation_mesage !== ''">{{validation_mesage}}</h4>

        <!--USER FORMS-->
        <form @submit="log_in" v-if="!user && form_type === 'log_in'">
            <label for="id">User name</label>
            <input v-model="user_log" type="text" id="id">

            <label for="id">User Password</label>
            <input v-model="user_pass" type="password">
            <input type="submit" value="Submit">
        </form>
        <form @submit="register" v-if="!user && form_type !== 'log_in'">
            <label for="id">User login</label>
            <input v-model="user_log" type="text" id="id">

            <label for="id">User Password</label>
            <input v-model="user_pass" type="password">

            <label for="name">User Name</label>
            <input v-model="user_name" type="text" id="name">

            <input type="submit" value="Submit">
        </form>






    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        data() {
            return {
                user: false,
                user_log: '',
                user_pass: '',
                user_name: '',
                message: '',

                form_type: 'log_in',
                form_text: 'Register',

                errors: [],

                message_chatroom: '',

            }
        },
        methods: {
            register: function (e) {
                e.preventDefault();
                if (this.user_log !== '' && this.user_pass !== '' && this.user_name !== '') {
                    fetch('http://localhost/untitled/chatroomdemerde/Controller/user_controller.php?action=register', {
                        method: "POST", // *GET, POST, PUT, DELETE, etc.
                        mode: "cors", // no-cors, cors, *same-origin
                        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: "same-origin", // include, *same-origin, omit
                        headers: {
                            "Content-Type": "application/json",
                            // "Content-Type": "application/x-www-form-urlencoded",
                        },
                        redirect: "follow", // manual, *follow, error
                        referrer: "no-referrer", // no-referrer, *client
                        body: JSON.stringify(
                            {
                                login: this.user_log,
                                password: this.user_pass,
                                pseudo: this.user_name,
                            } // body data type must match "Content-Type" header
                        )
                    })
                        .then(res => res.clone().json())
                        .then(json => {
                            if (json === 'success') {
                                this.validation_mesage = 'Utilisateur a bien été créé ! Identifiez vous !';
                                console.log('coucou');
                            }
                        })
                } else {
                    this.validation_mesage = '';
                    this.errors = [];
                    this.errors = ['One of the fields has not been field'];
                }
            },

            log_in: function (e) {
                e.preventDefault();

                if (this.user_log !== '' && this.user_pass !== '') {
                    fetch('http://localhost/untitled/chatroomdemerde/Controller/user_controller.php?action=login', {
                        method: "POST", // *GET, POST, PUT, DELETE, etc.
                        mode: "cors", // no-cors, cors, *same-origin
                        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: "same-origin", // include, *same-origin, omit
                        headers: {
                            "Content-Type": "application/json",
                            // "Content-Type": "application/x-www-form-urlencoded",
                        },
                        redirect: "follow", // manual, *follow, error
                        referrer: "no-referrer", // no-referrer, *client
                        body: JSON.stringify(
                            {
                                login: this.user_log,
                                password: this.user_pass
                            }
                        )
                    })
                        .then(res => res.clone().json())
                        .then(json => {
                            if (json[1] !== 'success') {
                                this.errors = json[0];
                                this.validation_mesage = '';
                            } else {
                                this.user = {
                                    user_id: json[0],
                                    user_name: this.user_name,
                                    log: this.user_log,
                                };
                            }
                        })
                }
            },


            //Form functions
            change_form: function () {
                this.validation_mesage = '';
                if (this.form_type === 'log_in') {
                    this.form_type = 'register';
                    this.form_text = 'Log in';
                } else {
                    this.form_type = 'log_in';
                    this.form_text = 'Register';
                }
            },



            computed: {},

            mounted: {},
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: flex;
    }

    a {
        color: #42b983;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }

    label {
        margin-top: 25px;
    }

    input {
        margin-top: 20px;
    }



    .chatroom li {
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        align-self: center;
    }

    .error {
        color: red;
    }

    button {
        margin-left: 20px;
    }
</style>
